.spot-details-container{
    min-width: 1000px;
}
.mini-spot-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.share-favorites {
    display: flex;
    gap: 20px; /* Add space between the child elements */
}

.spot-name{
    font-size: 50%;
}

.all-images-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.solo-preview-image{
align-self: center;
justify-self: center;
width: 100%;
height: 100%;
}

.solo-preview-image img {
    width: 100%;
    height: 100%;
  }



  .four-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* You already have this */
    justify-items: center; /* Center the grid items horizontally */
    align-items: center; /* Center the grid items vertically */
  }

  .four-images-container img{
    justify-self: center;
    max-width: 90%;
    max-height: 90%;
  }
